<div class="wrapper">
<!-- Header -->
<div class="cotainer" id="cafe-index"></div>
<!-- Header end -->

  <!-- search -->
  <div class="search">
    <%= form_tag(shops_path, :method => "get", id: "search", remote: true) do %>
    <div class="search-text">
      <%= text_field_tag :search, params[:search], placeholder: "Search Cafe(Type and press Enter)" %>
    </div>
    <% end %>
  </div>
  <!-- end of search -->

  <div class="cotainer" id="bean-index-outer">
    <div class="row">
      <div id="answers">
      <% @shops.each do |f| %>
        <%= render "shop_search", f: f %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class='text-center'>
  <%= paginate @shops, :theme => 'twitter-bootstrap-3' %>
</div>
