@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*
=============================================
Home Page
============================================= */
 // header
.header-container {
    min-height: 600px;
    padding-bottom: 0px;
    margin-top: 0px;
    position: relative;
    overflow: hidden;
}
#home-navbar a{
  background-color: transparent;
  color: white;
}

video {
    background: #222;
    width:100%;
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
}

.avatar {
  padding-top: 0px;
  margin-top: 0px;
  border: 1px white solid;
  border-radius: 99px;
  overflow: hidden;
  display: inline;

}
// end of header


#bean-home {
  width: 100%;
  background-color: #EDEFED;
  height: 600px;
}

#cafe-home {
  width: 100%;
  background-color: white;
  height: 600px;
}

#recipe-home {
  width: 100%;
  background-color: #EDEFED;
  height: 600px;
}

.circle {
    display: inline-block;
    // height: 150px;
    // width: 250px;
    float: right;
    margin: 10px;

}
// recipes/cafe/beans display

.home-picture{
  border: 2px solid grey;
  float: none;
  height: 500px;
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// free trade image
#search {
  margin: auto;
  text-align: center;
}

// search bar end


.container-footer {
  border: 2px solid black;
  width: 100%;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 100px;
}
// footer


/*
=============================================
Bean Index page
============================================= */
/*--- Bean Nav ---*/
.static-nav{
  padding-top: 17px;
  height: 65px;
  border-bottom: 1px solid gainsboro;
  font-family: "Montserrat", sans-serif;
}

#navbar {
  background-color: white;
  width: 100%;
  height: 80px;

  a {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #AC8F80;
    text-align: center;
    font-size: 12px;
  }
}

/*--- Bean Header ---*/
#bean-index {
  width: 90%;
  height: 500px;
  background-image: url("bean.jpg");
  overflow: hidden;
  opacity: 80%;
}

/*--- Bean Body ---*/
.wrapper {
  width: 90%;
  margin: auto;
}

.text-center {
  text-align: center
}

/*--- Bean footer ---*/
footer {
  min-height: 50px;
  background-color: #AC8F80;

  p {
    margin-top: 19px;
    color: black;
    text-align: center;
  }
}

#bean-index-outer {
  width: 100%;
  min-height: 300px;
  margin: 10px;
}
//
// .bean-index {
//   max-height: 500px;
//   overflow: hidden;
//   width: 33.33333333%;
// }
.bean-index-self-img {
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: auto;
}
.desc{
  margin: auto;
  text-align: center;
}
.bean-index {
  // border: 1px solid black;
  overflow: hidden;
}


h4 {
  // position: absolute;
  // display: inline-block;
  // top: 150px;
  // left: 100px;
  // z-index: 3;
  color: black;
}
.bean-name {
  color: black;
}

// p {
//   position: absolute;
//   display: inline-block;
//   top: 100px;
//   left: 150px;
//   z-index: 3;
//   color: black;
// }

/*
=============================================
Bean Show page
============================================= */
.bean-show-img {
  display: inline-block;
}

.bean-show-cont {
  display: inline-block;
}

/*
=============================================
Cafe Show page
============================================= */

#cafe-index {
  width: 100%;
  min-height: 500px;
  background-image: url("cafe2.jpg");
  opacity: 80%;
}

/*
=============================================
Recipe
============================================= */

.recipe-button {
  border: 2px solid grey;
  color: #AC8F80;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  a {
    font-size: 20px;
    color: #AC8F80;

  }
}
/*
=============================================
User
============================================= */

#user-show-content {
  width: 90%
}
/*
=============================================
Taste pallet
============================================= */
//
// .form-input {
//   border: 1px solid brown;
// }
//
// /* basic stylings ------------------------------------------ */
//
// .container-form 		{
//   font-family:'Roboto';
//   width:600px;
//   margin:30px auto 0;
//   display:block;
//   background:#FFF;
//   padding:10px 50px 50px;
//
// h2 		 {
//   text-align:center;
//   margin-bottom:50px;
// }
// h2 small {
//   font-weight:normal;
//   color:#888;
//   display:block;
// }
//
// /* form starting stylings ------------------------------- */
// .group 			  {
//   position:relative;
//   margin-bottom:45px;
// }
//
// input 				{
//   font-size:18px;
//   padding:10px 10px 10px 5px;
//   display:block;
//   width:300px;
//   border:none;
//   border-bottom:1px solid #757575;
// }
// input:focus 		{ outline:none; }
//
// /* LABEL ======================================= */
// label 				 {
//   color:#999;
//   font-size:18px;
//   font-weight:normal;
//   position:absolute;
//   pointer-events:none;
//   left:5px;
//   top:10px;
//   transition:0.2s ease all;
//   -moz-transition:0.2s ease all;
//   -webkit-transition:0.2s ease all;
// }
//
// /* active state */
// input:focus ~ label, input:valid ~ label 		{
//   top:-20px;
//   font-size:14px;
//   color:#5264AE;
// }
//
// /* BOTTOM BARS ================================= */
// .bar 	{ position:relative; display:block; width:300px; }
// .bar:before, .bar:after 	{
//   content:'';
//   height:2px;
//   width:0;
//   bottom:1px;
//   position:absolute;
//   background:#5264AE;
//   transition:0.2s ease all;
//   -moz-transition:0.2s ease all;
//   -webkit-transition:0.2s ease all;
// }
// .bar:before {
//   left:50%;
// }
// .bar:after {
//   right:50%;
// }
//
// /* active state */
// input:focus ~ .bar:before, input:focus ~ .bar:after {
//   width:50%;
// }
//
// /* HIGHLIGHTER ================================== */
// .highlight {
//   position:absolute;
//   height:60%;
//   width:100px;
//   top:25%;
//   left:0;
//   pointer-events:none;
//   opacity:0.5;
// }
//
// /* active state */
// input:focus ~ .highlight {
//   -webkit-animation:inputHighlighter 0.3s ease;
//   -moz-animation:inputHighlighter 0.3s ease;
//   animation:inputHighlighter 0.3s ease;
// }
//
// /* ANIMATIONS ================ */
// @-webkit-keyframes inputHighlighter {
// 	from { background:#5264AE; }
//   to 	{ width:0; background:transparent; }
// }
// @-moz-keyframes inputHighlighter {
// 	from { background:#5264AE; }
//   to 	{ width:0; background:transparent; }
// }
// @keyframes inputHighlighter {
// 	from { background:#5264AE; }
//   to 	{ width:0; background:transparent; }
// }
// }

.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 80%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #AC8F80;
  text-transform: uppercase;
  font-size: 15px;
  font-style: bold;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}



/* Overline From Right */
a:hover{
  text-decoration: none;
  color: #D18F89;
}

.hvr-overline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  top: 0;
  background: #D18F89;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-overline-from-right:hover:before, .hvr-overline-from-right:focus:before, .hvr-overline-from-right:active:before {
  left: 0;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}



// --------------------------search

.search {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 15px;
}
.search-text {
  margin-right: 0px;
  display: inline-block;
  input {
    margin-right: 0px;
    border: black solid 3px;
    width: 700px;
    height: 34px;
  }
}
.search-button {
  display: inline-block;
  font-size: 30px;
}

// Service Box

.text-primary {
    color: #f05f40;
}


.section-heading {
    color: black;
}

.service-box {
    margin: 50px;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p,h3{
    margin-bottom: 0;
    font-size: 20px;
    color: black;
}

.hr-index {
    max-width: 90px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

// -----------------------------------------------------------------------------------------
.progress {
height: 20px;
margin-bottom: 20px;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress {
background-image: -webkit-gradient(linear,left 0,left 100%,from(#ebebeb),to(#f5f5f5));
background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
background-image: -moz-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
}
.progress {
height: 12px;
background-color: #ebeef1;
background-image: none;
box-shadow: none;
}
.progress-bar {
float: left;
width: 0;
height: 100%;
font-size: 12px;
line-height: 20px;
color: #fff;
text-align: center;
background-color: #428bca;
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
-webkit-transition: width .6s ease;
transition: width .6s ease;
}
.progress-bar {
background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3071a9));
background-image: -webkit-linear-gradient(top,#428bca 0,#3071a9 100%);
background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}
.progress-bar {
box-shadow: none;
border-radius: 3px;
background-color: #0090D9;
background-image: none;
-webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
-moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
-ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
-o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
-moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
-ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
-o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.progress-bar-success {
background-image: -webkit-gradient(linear,left 0,left 100%,from(#5cb85c),to(#449d44));
background-image: -webkit-linear-gradient(top,#5cb85c 0,#449d44 100%);
background-image: -moz-linear-gradient(top,#5cb85c 0,#449d44 100%);
background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff449d44',GradientType=0);
}
.progress-bar-success {
background-color: #0AA699;
background-image: none;
}
.progress-bar-info {
background-image: -webkit-gradient(linear,left 0,left 100%,from(#5bc0de),to(#31b0d5));
background-image: -webkit-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
background-image: -moz-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
background-image: linear-gradient(to bottom,#5bc0de 0,#31b0d5 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff31b0d5',GradientType=0);
}
.progress-bar-info {
background-color: #0090D9;
background-image: none;
}
.progress-bar-warning {
background-image: -webkit-gradient(linear,left 0,left 100%,from(#f0ad4e),to(#ec971f));
background-image: -webkit-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
background-image: -moz-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffec971f',GradientType=0);
}
.progress-bar-warning {
background-color: #FDD01C;
background-image: none;
}
.progress-bar-danger {
background-image: -webkit-gradient(linear,left 0,left 100%,from(#d9534f),to(#c9302c));
background-image: -webkit-linear-gradient(top,#d9534f 0,#c9302c 100%);
background-image: -moz-linear-gradient(top,#d9534f 0,#c9302c 100%);
background-image: linear-gradient(to bottom,#d9534f 0,#c9302c 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f',endColorstr='#ffc9302c',GradientType=0);
}
.progress-bar-danger {
background-color: #F35958;
background-image: none;
}


// --------------------------

h2.no-span {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid #D18F89;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}
