@import "bootstrap-sprockets";
@import "bootstrap";

.header-container {
    min-height: 600px;
    padding-bottom: 0px;
    margin-top: 0px;
    position: relative;
    overflow: hidden;
}

  video {
    background: #222;
    width:100%;
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
}
